// https://github.com/HackerThemes/theme-machine/blob/master/themes/neon-glow/css/bootstrap4-neon-glow.scss
$theme-colors: () !default;

$grid-breakpoints: (
  sm: 0,
  lg: 900px
);

$container-max-widths: (
  sm: 700px,
  lg: 840px
);

$font-family-sans-serif: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';