@model List<Blog.MusicTrack>
@{
    int collapseIndex = 0;
}

<div class="container">
    <div class="page">
        <div class="body">
            @Html.Partial("_RenderMenu")
            @Html.Partial("_RenderTrackList", Model)
        </div>
    </div>
</div>