@model PageModel

<div class="container">
    <div class="page">
        <h1 class="title">
            @Model.Page.Title
        </h1>
        <div class="body">
            @Html.Raw(Model.Body)
        </div>
    </div>
</div>